<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Trade License</title>
  <style>
    @page {
      size: A4;
      margin: 0;
    }

    @media print {
      html, body {
        width: 210mm;
        /*height: 297mm;*/
        page-break-after: always;
      }
    }

    /*table{*/
      /*max-width: 2480px;*/
      /*width:100%;*/
    /*}*/
    /*table td{*/
      /*width: auto;*/
      /*overflow: hidden;*/
      /*word-wrap: break-word;*/
    /*}*/
    .table {display:block; margin: 4px;}
    .row { display:block;}
    .cell {display:inline-block; margin: 4px;}
    </style>
</head>
<div style="border:thin">
  <div class="row" th:each="index:${#numbers.sequence(1, 4)}" style="background-color: chartreuse">
    <div class="cell" th:each="trade,pStat : ${Data}" th:include="TradeLicense"/>
  </div>
</div>
</html>

